
/* Font League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #fdffe2;
}

/* Overlay Pertama */
section.overlay-first{
    background: url(/assets/media/Ruangan\ pk.jpeg);
    height: 500px;
}

section.overlay-first > div.overlaybg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, rgba(29, 23, 146, 1), rgba(0,0,0,0) );
}

section.Sambutan{
    display: grid;
    grid-template-columns: 140px 1fr;
    align-items: center;
    padding: 70px 0 30px 70px;
}
/* Sambutan Kepsek */
section.Sambutan > img{
    border-radius: 50%;
    margin-right: 25px;
    width: 140px;
    height: 140px;
}

section.Sambutan > div.sambutan-kpsk{
    margin-left: 25px;
    width: 50%;
    font-family: sans-serif;
}
section.Sambutan > div.sambutan-kpsk > p{
    padding: 10px 0 10px 0;
    font-weight: lighter;
    font-size: 14px;
}
section.Sambutan > div.sambutan-kpsk > button{
    background-color: #27388f;
    color: white;
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    transition: 0.2s;
}

section.Sambutan > div.sambutan-kpsk > button:hover{
    color: #ffeb00;
    transition: 0.2s;
}

/* Style Berita */
section.overlay-news h1{
    text-align: center;
    margin: 40px;
    color: #27388f;
    font-size: 40px;
    font-weight: bold;
    font-family: 'League Spartan';
}

.berita{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-news{
    width: 290px;
    height: 350px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    margin-bottom: 70px;
    
}
.item-news > img{
    width: 100%;
    height: 190px;
    margin-top: 0;
    padding-top: 0;
}

article.item-news > h5{
    width: 100%;
    font-size: 14px;
    padding-bottom: 40%;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 2px;
    
}

button.btn-brt{
    background-color: #27388f;
    color: white;
    width: 50%;
    padding: 5px;
    border-radius: 30px;
    border: none;
    transition: 0.2s;
    
}

button.btn-brt:hover{
    color: #ffeb00;
    transition: 0.2s;
}

/* Style Jurusan */
section.jurusan-trsd{
    background-color: #1d1792;
    color: white;
}

section.jurusan-trsd > h1{
    padding: 10px 0 40px 0;
    font-size: 40px;
    font-family: "Poppins";
    text-align: center;
}

section.jurusan-trsd > article{
    overflow: auto;
    white-space: nowrap;
    display: flex;
    height: 450px;
}

/* Tolong saya button-nya nggak mau rata :( */
section.jurusan-trsd > article > div{
    flex: 1;
    vertical-align: top;
    width: 290px;
    height: 400px;
    margin: 10px 20px 10px 20px;
    text-wrap: pretty;
    text-align: center;
    border: 1px solid white;    
}

section.jurusan-trsd > article > div > h1{
    font-family: "Poppins";
    font-size: 15px;
    padding-bottom: 88px;
}
section.jurusan-trsd > article > div > p{

    align-items: flex-end;
}
section.jurusan-trsd > article > div > button{
   align-items: flex-end;
}
/* Style live count */
aside.live-count{
    width: 100%;
    background-image: url(/assets/media/Jaapnesr-clas.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

aside.live-count > div{
    padding: 40px 25px 40px 25px;
    margin: 25px;

    border: 1px solid #f0f0f0;
    border-radius: 20px;
    background-color: #f0f0f0;

    width: 230px;
    height: 150px;
}

aside.live-count > div > p{
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    
    margin-top: 75px;
}

/* Galeri */
.Galer{
    display: grid;
    
}