:root {
    --blue: #1d1792;
    --yellow: #f6e351;
    --gray: #A2B29F;
    --white: #ffff;
    --black: #0000;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* navbar-logo */
  
  .logo {
    display: flex;
    margin-right: 340px;
  }

  .logo img {
    height: 40px;
    margin-top: 3px;
  }
  
  .logo h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 10px;
    margin-top: 10px;
    color: #ffff;
  }
  
  /* navbar-list */
  .navbar_list {
    overflow: hidden;
    background-color: var(--blue);
    display: flex;
    justify-content: flex-end;
    
  }
    
  .navbar_list a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* navbar-dropdown */
  .dropdown {
    float: left;
    overflow: hidden;
  }
    
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
    
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
    
  .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, 0.39);
  }
  
  .dropdown-content a::after {
    content: '';
    width: 100px;
    height: 100px;
    background-color: yellow;
    transform: scale(1);
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
  }
  